<p id="notice"><%= notice %></p>

<h3>Linhas que atendem este ponto</h3>
<h1><%= @teste %></h1>
<table>
  <thead>
    <tr>
      <th>Linha</th>
      <th>Letreiro</th>
      <th>Horário Previsto</th>
    </tr>
  </thead>

  <tbody>
    <%= @lines %>
