<%= form_tag bus_stop_search_for_bus_stop_path do %>
    <p> Digite o endereço do ponto de onibus </p>
    <%= text_field_tag :bus_stop_address %>
    <%= submit_tag %>
 <% end %>

 <div id="map">
 </div>
 


  